<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>
<%#= link_to 'Privacy Policy',static_pages_privacy_policy_path %>
<%= link_to 'Privacy Policy',privacy_policy_path%>
